body{
    background-color: var(--color1);
}
.Titulo{
    width: 81%;
    margin-left: 7%;
    color: var(--TextoNegativo);
    text-align: center;
    background-color: var(--color2);
    padding: 2%;
    border-radius:0px 0px 50px 50px;
}
/*==== formulario ====*/
.contenedor-form {
    display: grid;
    grid-template-columns: 1fr r; 
    gap: 20px; 
    width: 90%;
    margin: 0 auto;
    padding: 5%;
    border-radius: 20px;
}

#formulario label {
    color: white;
    font-family: "Mina", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    text-align: left;

}
#formulario input{
    width: 100%;
    height: 40px;
    padding: 2%;
    margin: 2% 0%;

    text-align: left;
    color: black;

    border-radius: 15px;
    background-color: white;
    
    box-sizing: border-box;
    border-style: none;
    outline: none;
}
#formulario input[type="checkbox"] {
    height: auto; 
}
.file-upload {
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  }
  .custom-file-upload {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 20px;
  }
  .file-upload img{
    width: 15%;
    height: 100%;
  }
  .custom-file-upload input[type="file"] {
    display: none;
  }
.subir {
    display: inline-block;
    background-color: var(--color2);
    color: var(--color2);
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.subir:hover {
    background-color: var(--color4);
}

.subir input[type="file"] {
    display: none;
}

.sexopc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

}

/*==== BOTON DE ENVIO ====*/
#botones {
    cursor: pointer;
    padding: 2% 10%;
    background-color: var(--color2);
    font-weight: bolder;
    text-align: center;
    color: white;
    border-style: none;
    border-radius: 20px;
    transition: .2s ease-in-out;
    background-color: #2a4a4d;
}

#botones:hover {
    background-color: #2d3333;
}
